<html lang="en">
<head>
    <title>Random Soundcloud</title>
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/client.js"></script>
    <link href="../assets/style.css" rel="stylesheet" type="text/css">
    <script src="../assets/howler.js"></script>
</head>

<body>
<div class="center">
    <h1>Random Soundcloud Tracks</h1>
    <h2 id="title"></h2>
    <h3 id="artist"></h3>
    <h4><a href="" id="track_url" target="_blank"> Im a
            link </a></h4>
    <div id="radio">
        <button id="back">back</button>
        <button id="play">play</button>
        <button id="next">next</button>
    </div>
    <br>
    <div id="loading_icon" class="loading">
        <img src="/assets/sc_loading.gif" alt="loading"
             style="width: 2%; height: 4%;">
    </div>
</div>

</body>
</html>