<html lang="en">
<head>
    <title>¿? soundcloudrad.io ¿?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--    <link rel="shortcut icon" href="../assets/images/favicon.ico"-->
<!--          type="image/x-icon">-->
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/scripts/client.js"></script>
    <link href="../assets/styles/style.css" rel="stylesheet" type="text/css">
    <script src="../assets/scripts/howler.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="center">
    <h1 class="pageTitle noselect">soundcloudrad.io</h1>
    <div id="radio">
        <!-- Soundcloud Player -->
        <iframe class="embedRadio" id="player" width="40%" height="300"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="" style="border-style:
        outset; border-width: 1px; border-color: #ff7836"></iframe>
        <div style="font-size: 10px; color: #cccccc; margin: auto; width: 40%; line-break:
        anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: 'DM Mono', monospace;font-weight: 100;">
            <a class="artist" href=""
               title=""
               target="_blank"
               style="color: #cccccc; text-decoration: none;"></a>
            ~ <a class="track" href=""
                 title=""
                 target="_blank"
                 style="color: #cccccc; text-decoration: none;"></a>
        </div>
        <!-- end -->
        <br>
        <button id="back"><< back</button>
        <button id="next">next >></button>
        <br>
        <img id="loading_icon" src="/assets/images/sc_loading.gif"
             hidden=true alt="loading"
             style="width: 2%; height: 4%;">
    </div>
</div>
<div class="footer">
    <div class="bg-select">
        <label>change environment:</label>
        <select>
            <option id="plain" selected>plain</option>
            <option id="cozy">cozy</option>
            <option id="cubicle">cubicle</option>
            <option id="wealth">wealth</option>
            <option id="water_cycle">water cycle</option>
            <option id="tropical">tropical</option>
            <option id="brown">brown</option>
            <option id="corduroy1">corduroy1</option>
            <option id="corduroy2">corduroy2</option>
        </select>
    </div>
</div>
</body>
</html>
