<html lang="en">
<head>
    <title>Random Soundcloud</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico"
          type="image/x-icon">
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../assets/scripts/client.js"></script>
    <link href="../assets/styles/style.css" rel="stylesheet" type="text/css">
    <script src="../assets/scripts/howler.js"></script>
</head>

<body>
<div class="center">
    <h1>Random Soundcloud Tracks</h1>
    <h2 id="title"></h2>
    <h3 id="artist"></h3>
    <h4><a href="" id="track_url" target="_blank"> Im a
            link </a></h4>
    <div id="radio">
        <!-- Soundcloud Player -->
        <iframe id="player" width="40%" height="300" scrolling="no"
                frameborder="yes"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api
                .soundcloud.com/tracks/879466969&color=%23ff5500&auto_play=true
                &hide_related=true&show_comments=true&show_user=true
                &show_reposts=false&show_teaser=false&visual=true"></iframe>
        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a class="artist" href=""
               title=""
               target="_blank" style="color: #cccccc; text-decoration: none;"></a>
            · <a class="track" href=""
                 title=""
                 target="_blank" style="color: #cccccc; text-decoration: none;"></a>
        </div>
        <!-- end -->
        <br>
        <button id="back">back</button>
        <button id="play">play</button>
        <button id="next">next</button>
    </div>
    <br>
    <div id="loading_icon" class="loading">
        <img src="/assets/images/sc_loading.gif" alt="loading"
             style="width: 2%; height: 4%;">
    </div>
</div>

</body>
</html>