body {
  background-image: url("../images/cozycat.jpg");
}

.center {
    text-align: center;
    margin: auto;
    width: 80em;
    color: green;
}

.noselect {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
}

img {
    max-width: 100%;
    height: auto;
}

.loading {
    display: none;
    float: bottom;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pageTitle {
    font-family: 'Jomolhari', serif;
    color: #eb9234;
    margin: 1% 2% 1% 2%;
    font-size: 55px;
    margin-bottom: 0.5%;
    text-shadow: 2px 2px #708090;
    /* margin-left: 2%;
    margin-right: 1%; */
    text-align: left;
}

button {
    font-size: 90%;
    border: 1%;
    border-color: black;
}

@media only screen and (max-width: 1290px) {
  .center {
    max-width: 100%;
  }

  iframe#player {
    min-width: 350px;

  }
}
